/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background: #2d626a;
}
header {
  margin: 0;
  padding: 25px;
  background: #316b9c ;
}
